.container {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}

.card-img-top {
  display: flex;
  margin: auto;
  width: 138px;
  height: 138px;
}
.card-name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.pokemon-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 24px;
  margin: 3px 5px 0 3px;
  text-transform: capitalize;
}
.pokemon-baseinfo {
  min-width: 270px;
}
