<div class="container pokemon-detail">
  <div class="card" *ngIf="pokemon">
    <div class="pokemon-baseinfo">
      <img
        class="card-img-top"
        [src]="pokemon.sprites.front_default"
        alt="Pokemon"
      />
      <div class="card-name">
        {{ pokemon.name }}<span> #</span> {{ pokemon.id }}
      </div>
    </div>
    <div *ngIf="pokemon?.stats" class="pokemon-info">
      <div class="table">
        <span>Type: </span>
        <div
          class="styleType"
          *ngFor="let type of pokemon.types"
          [ngClass]="type.type.name"
        >
          {{ type.type.name }}
        </div>
      </div>

      <div class="table" *ngFor="let stat of pokemon.stats">
        <div class="pokemon-stat">{{ stat.stat.name }}</div>
        <div>{{ stat.base_stat }}</div>
      </div>
      <div class="table">
        <span>weight</span>
        <div>{{ pokemon.weight }}</div>
      </div>
      <div class="table">
        <span>Total moves</span>
        <div>{{ pokemon.moves.length }}</div>
      </div>
    </div>
  </div>
</div>
